body{
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}
p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

/* Side Bar*/

#sidebar.active {
    margin-left: -250px;
}
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	min-width: 250px;
	max-width: 250px;
	background: #4E6BFF;
	color: #fff;
	transition: all 0.3s;
}

#sidebar li a:active{color:white;}


#sidebar .sidebar-header{
	padding: 8px;
	padding-top: 16px;
	background: #010B41;
	width: 100% !important;
}
#sidebar ul.components{
	padding: 20px 0;
	border-bottom: 1px solid #4E6BFF;
}

#sidebar ul p{
	color: #fff;
	padding: 10px;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 20px, important!;
	display: block;
}

#sidebar li active{
	background: white !important;
}

#sidebar ul li a:hover{
	color: #7386D5;
	background: #fff;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
	background: #6d7fcc;
}

a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}
ul li a{
	font-size: 13px !important;
	background: transparent;
}

#content{
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}

.list-style{
	list-style: none;
}
 .icon1{
	 margin-left: 140px;
 }

 .icon2{
	 margin-left: 150px;
 }
#toggle2{
	display: none;
}

#toggle4{
	display: none;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* form */

.form-control {
	margin-bottom: 10px;
	margin-top: 10px;
}

.button1 {
	margin-bottom: 10px !important;
	margin-top: 10px !important;
	border: none;
	transform: translate(-123%, 0);
}

.button2 {
	margin-bottom: 10px !important;
	margin-top: 23px !important;
	border: none;
	transform: translate(-70%);
	color: #676767;
	outline: 0;
}

.form-group{
	border: none;
	transform: translate(-10%, 0);
}

/* table */

.table {
    font-size: 11px;
    text-align: center;
}

.table button {
	background: transparent;
	border: none;
}

